<div *ngIf="segment">
<div class="dimmer"></div>
<div class="dialog-container">
  <div class="dialog">
    <h4 class="dialog-title">Claim "{{ segment.start.name }} — {{ segment.end.name }}"</h4>
    <h5 class="dialog-subtitle">Length {{ segment.length }}</h5>
    <main class="main">
      <div>
        Use
        <span class="count regular-count">
          <input type="number" name="regular-count" [(ngModel)]="regularColorCount" step="1" min="0" [max]="segment.length - wildColorCount">
        </span>
        <select class="regular-color" name="regular-color" [disabled]="segmentColor !== 'Rainbow'" [(ngModel)]="selectedColorStr">
          <option *ngFor="let color of colorsPlayerHas" [value]="color">{{ color }}</option>
        </select>
        card{{ regularColorCount === 1 ? '' : 's' }}
        <span *ngIf="playerHasWilds">
          and
          <span class="count wild-count">
            <input type="number" name="regular-count" [(ngModel)]="wildColorCount" step="1" min="0" [max]="segment.length - regularColorCount">
          </span>
          wild cards.
        </span>
      </div>
      <div class="validation-warning" [ngStyle]="{'opacity': isValid ? 0 : 1}">
        <div *ngIf="!hasCorrectTotal">
          You need {{ cardDelta }} {{ needFewerCards ? 'less' : 'more' }} card{{ cardDelta === 1 ? '' : 's' }}.
        </div>
      </div>
    </main>
    <footer class="footer">
      <button class="link" (click)="exit()">Cancel</button>
      <button class="link primary-link" (click)="confirm()" [disabled]="!isValid">Confirm</button>
    </footer>
  </div>
</div>
</div>
