<div class="player-row" *ngFor="let player of players">
  <span *ngIf="!isCurrentPlayer(player)">
    <div class="name-bar" [ngClass]="
          {'red-left-border': player.color === playerColor.Red,
          'black-left-border': player.color === playerColor.Black,
          'green-left-border': player.color === playerColor.Green,
          'yellow-left-border': player.color === playerColor.Yellow,
          'blue-left-border': player.color === playerColor.Blue}
          ">
      <div class="player-name">{{player.name}}</div>

      <div class="icon-container">
        <div class="stat">
          <p>{{player.points}}</p>
          <i class="material-icons star">star</i>
        </div>
        <div class="stat">
          <p style="top: -3px">{{player.busCards}}</p>
          <img class="wild-card-icon" src="assets/images/cards-icon.svg" alt="Player hand">
        </div>
        <div class="stat">
          <p>{{player.routeCards}}</p>
          <i class="material-icons pin">place</i>
        </div>
        <div class="stat">
          <p>{{player.busPieces}}</p>
          <i class="material-icons">train</i>
        </div>
      </div>
    </div>
  </span>

  <span *ngIf="isCurrentPlayer(player)">
    <div class="name-bar" [ngClass]="
      {'red-left-border': player.color === playerColor.Red,
      'black-left-border': player.color === playerColor.Black,
      'green-left-border': player.color === playerColor.Green,
      'yellow-left-border': player.color === playerColor.Yellow,
      'blue-left-border': player.color === playerColor.Blue}
      ">
      <div class="player-name">{{player.name}}</div>

      <div class="icon-container">
        <div class="stat">
          <p>{{player.points}}</p>
          <i class="material-icons star">star</i>
        </div>
        <div class="stat">
          <p style="top: -3px">{{player.busCards.length}}</p>
          <img class="wild-card-icon" src="assets/images/cards-icon.svg" alt="Player hand">
        </div>
        <div class="stat">
          <p>{{player.routeCards.length}}</p>
          <i class="material-icons pin">place</i>
        </div>
        <div class="stat">
          <p>{{player.busPieces}}</p>
          <i class="material-icons">train</i>
        </div>
      </div>
    </div>

    <div *ngIf="isCurrentPlayer(player)" class="current-player-info">
      <ul class="no-style">
        <li>
          <i class="material-icons pin">place</i>
        </li>
        <li>
          <i class="material-icons pin">place</i>
        </li>
      </ul>

      <table>
        <tr>
          <td>
            <div class="purple-background circle"></div>
          </td>
          <td>
            <div>
              x 3
            </div>
          </td>
          <td>
            <div class="orange-background circle"></div>
          </td>
          <td>
            <div>
              x 3
            </div>
          </td>
          <td>
            <div class="blue-background circle"></div>
          </td>
          <td>
            <div>
              x 3
            </div>
          </td>
          <td>
            <div class="yellow-background circle"></div>
          </td>
          <td>
            <div>
              x 3
            </div>
          </td>
          <td>
            <img class="wild-card-icon" src="assets/images/wild-icon.svg" alt="Wild cards">
          </td>
          <td>
            <div>
              x 3
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="white-background circle"></div>
          </td>
          <td>
            <div>
              x 3
            </div>
          </td>
          <td>
            <div class="black-background circle"></div>
          </td>
          <td>
            <div>
              x 3
            </div>
          </td>
          <td>
            <div class="red-background circle"></div>
          </td>
          <td>
            <div>
              x 3
            </div>
          </td>
          <td>
            <div class="green-background circle"></div>
          </td>
          <td>
            <div>
              x 3
            </div>
          </td>
        </tr>
      </table>
    </div>
  </span>
</div>
