<div class="dimmer"></div>
<div class="dialog-container">
  <div class="dialog">
    <h4 class="dialog-title">Game Over</h4>
    <table class="table">
      <thead class="table-header">
        <tr>
          <th class="cell">Player</th>
          <th class="cell">Points Gained</th>
          <th class="cell">Points Lost</th>
          <th class="cell">Total Points</th>
        </tr>
      </thead>
      <tbody>
        <tr class="row">
          <td class="cell">
            <div class="player winner">
              <div class="player-color green"></div>
              <div class="player-name">Betty the Bot</div>
            </div>
          </td>
          <td class="cell">3</td>
          <td class="cell">5</td>
          <td class="cell">-2</td>
        </tr>
        <tr class="row">
          <td class="cell">
            <div class="player">
              <div class="player-color blue"></div>
              <div class="player-name">Frankie the Friend</div>
            </div>
          </td>
          <td class="cell">50</td>
          <td class="cell">75</td>
          <td class="cell">-25</td>
        </tr>
      </tbody>
    </table>
    <footer class="footer">
      <button>Exit</button>
    </footer>
  </div>
</div>
