@import "../variables.scss";

.color-0 {
    background-color: $color-dark-background-accent;
  }
  
  .color-1 {
    background-color: $color-red;
  }
  
  .color-2 {
    background-color: $color-green;
  }
  
  .color-3 {
    background-color: $color-blue;
  }
  
  .color-4 {
    background-color: $color-yellow;
  }
  
  .color-5 {
    background-color: $color-black;
  }