$color-dark-gray: rgb(30,30,30);
$color-mid-gray: rgb(48,48,48);
$color-light-gray: rgb(60,60,60);

$color-dark-background: #303030;
$color-dark-background-accent: #6D6D6D;
$color-light-background: #FEFEFE;
$color-light-accent: #484848;
$color-dark-text: rgba(0, 0, 0, 0.54);
$color-light-text: #E1E1E1;

$color-purple: #5700AF;
$color-white: #FEFEFE;
$color-blue: #001895;
$color-yellow: #CA9E03;
$color-orange: #CF5904;
$color-black: #161616;
$color-red: #8D0000;
$color-green: #09740D;
